@model IEnumerable<ExploreCalifornia.Models.Post>
@{
    Layout = "_Layout";
}

<h1>Explorer's blog</h1>

<p>
    Below are a few of the latest posts from some of our explorers.
</p>

<div class="blog-posts">
    @foreach (var post in Model)
    {
        <article class="blog-post">
            <h1>
                @Html.ActionLink(post.Title, "Post", "Blog", 
                new {year = post.PostedAt.Year, month = post.PostedAt.Month, key = post.Key})
            </h1>
            <div class="details">
                <span>Posted at @post.PostedAt</span>
                <h3>Written By @post.Author</h3>
            </div>
            <div class="contents">
                <p>@post.Body</p>
            </div>
        </article>
    }
</div>

